page-home {
  .home-image {
    background-image: url("../assets/imgs/fondrogner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .toolbar-background {
    background-color: transparent;
  }

  .headerTitle {
    color: red !important;
  }
}
